body {
    background-image: url(../img/background.webp);
    /* Pixel Art Wallpaper by zedotagger, link: https://zedotagger.tumblr.com/post/186125061960/its-been-awhile-since-ive-posted-huh-nothing */
    background-size: cover;
}

table {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
}

h1.my_h1 {
    font-family: 'VT323', monospace;
    font-size: 5rem;
    text-align: center;
    color: white;
    margin: 2rem 0;
}